In [1]:
import glob
import pandas as pd
import numpy as np
from urllib.request import urlopen, Request
from bs4 import BeautifulSoup

In [2]:
news = pd.read_csv('./en_interim_01_05_DV_IN.csv', index_col=False)

In [3]:
news.head()

,Unnamed: 0,index,GLOBALEVENTID,SQLDATE,MonthYear,Year,FractionDate,Actor1Code,Actor1Name,Actor1CountryCode,...,ActionGeo_FullName,ActionGeo_CountryCode,ActionGeo_ADM1Code,ActionGeo_ADM2Code,ActionGeo_Lat,ActionGeo_Long,ActionGeo_FeatureID,DATEADDED,SOURCEURL,title
0,0,72,896050132,19200101,192001,1920,1920.0027,NaN,NaN,NaN,...,"Surat, Gujarat, India",IN,IN09,70127.0,20.9667,72.9000,-2098110,20200101001500,https://timesofindia.indiatimes.com/city/surat...,who killed dishit wife two others set to walk ...
1,1,11452,896059553,19200101,192001,1920,1920.0027,NaN,NaN,NaN,...,"Calcutta, West Bengal, India",IN,IN28,70294.0,22.5697,88.3697,-2092511,20200101010000,https://www.sheltonherald.com/news/crime/artic...,Lawsuit Famed Jesuit abused boy 1 000 times 14...
2,2,23149,896077202,19200101,192001,1920,1920.0027,NaN,NaN,NaN,...,"Muzaffarnagar, Uttar Pradesh, India",IN,IN36,17929.0,29.4667,77.6833,-2105244,20200101041500,http://www.canindia.com/caa-protests-shia-cler...,caa protests shia cleric kalbe jawad to meet f...
3,3,30812,896087593,19200101,192001,1920,1920.0027,GOV,GOVERNOR,NaN,...,"Kerala, Kerala, India",IN,IN13,17699.0,10.0000,76.5000,-2100307,20200101063000,https://www.business-standard.com/article/pti-...,entry of 2 young women in sabarimala rahul gan...
4,4,31666,896088447,19200101,192001,1920,1920.0027,GOV,MINIST,NaN,...,India,IN,IN,NaN,20.0000,77.0000,IN,20200101064500,https://thehimalayantimes.com/nepal/minister-g...,minister gokul prasad baskota pledges to book ...

In [ ]:
header = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/70.0.3538.77 Safari/537.36'}
def get_full_text(url):
    print(url)
    try:
        req = Request(url,headers=header)
        news_article = BeautifulSoup(urlopen(req), features="html.parser", from_encoding="iso-8859-1").get_text()
    except:
        news_article = 'N/A'
    return news_article

news["text"] = news["SOURCEURL"].apply(get_full_text)

https://timesofindia.indiatimes.com/city/surat/who-killed-dishit-wife-two-others-set-to-walk-free/articleshow/73052213.cms
https://www.sheltonherald.com/news/crime/article/Lawsuit-Famed-Jesuit-abused-boy-1-000-times-14940594.php
http://www.canindia.com/caa-protests-shia-cleric-kalbe-jawad-to-meet-families-of-victims/
https://www.business-standard.com/article/pti-stories/entry-of-2-young-women-in-sabarimala-rahul-gandhi-ls-win-120010100247_1.html
https://thehimalayantimes.com/nepal/minister-gokul-prasad-baskota-pledges-to-book-guilty-in-nirmalas-rape-murder/
https://www.financialexpress.com/india-news/kerala-2019-entry-of-2-young-women-in-sabarimala-rahul-gandhi-lok-sabha-win-floods-made-the-year-eventful/1809429/
https://www.orissapost.com/businessman-shoots-wife-daughter-dead-then-kills-himself-on-yamuna-expressway/
https://www.orissapost.com/businessman-wife-daughter-found-dead-inside-car-on-yamuna-expressway/
https://www.mid-day.com/articles/bandra-horror-60-year-old-inserts-candles-in-womans-private-parts-rapes-her/22360164
http://news.statetimes.in/entry-of-2-young-women-in-sabarimala-rahul-gandhi-ls-win-floods-made-2019-eventful-yr-in-kerala/
https://www.aninews.in/news/national/general-news/delhi-hc-dismisses-plea-seeking-fir-registration-against-ukhand-police-official-under-charges-of-sexual-assault20200101173433/

In [ ]:
news.head()

In [ ]:
news.to_csv("./en_interim_01_05_DV_IN_with_full_texts.csv")